/* html elements */
body {
    background:#efefef;
    margin:0;
    padding:0;
}
body * {
    margin:0;
    padding:0;
    font-size:20px;
    font-weight:200;
    font-family:'Courier New', Courier, monospace
}
body *:not(#picker *) {
    color:#090909;
}
body.darkmode {
    background:#090909;
}
body.darkmode *:not(#picker *) {
    color:#efefef;
}
body:not(.darkmode) *.darkmode {
    display:none;
}
body.darkmode *.darkmode {
    display:unset;
}
body header {
    max-width:506px;
    margin:auto;
    margin-top:10px;
    border-bottom:1px solid;
    display:flex;
    align-items:end;
    justify-content:space-between;
    flex-wrap:wrap;
}
body.darkmode header {
    border-bottom:1px solid #efefef;
}
body header h1 {
    display:flex;
    align-items:center;
    padding:5px 10px;
    pointer-events: none;
}
body header h1 img {
    height:32px;
    margin:0px 5px;
}
body header span {
    cursor:pointer;
}
body header span img {
    height:26px;
    margin:0px 5px;
}
body.darkmode img:not(.darkmode) {
    display:none;
}
body main {
    max-width:506px;
    margin:auto;
    margin-top:10px;
}
body main canvas {
    border: 3px double;
    background:#fff;
    cursor:pointer;
}
body.darkmode main canvas {
    border-color:#FFF;
    background:#000;
}
#info_container, #back_icon {
    display:none;
}
#info_container {
    padding:10px 10px;
}
#info_container .section {
    margin-bottom:10px;
    padding-bottom:10px;
    display:flex;
    justify-content: space-between;
    font-size:18px;
    /* border-bottom:1px solid #000; */
}
#dark_icon img {
    width:24px;
    cursor:pointer;
}
#picker {
    position:absolute;
    left: 50%;
}
.picker_arrow {
    display:none;
}
.layout_default .picker_slider, .layout_default .picker_selector {
    padding:5px !important;
}
.picker_wrapper.popup, .picker_wrapper.popup .picker_arrow::before, .picker_wrapper.popup .picker_arrow::after {
    background:#00000000 !important;
    box-shadow: none !important;
    margin:0 !important;
}
.layout_default .picker_sl {
    flex: unset !important;
    width: 6.8rem !important;
}
.picker_editor {
    width: 6rem !important;
}
.layout_default.picker_wrapper {
    width:150px !important;
}
.picker_wrapper .picker_done {
    display:none !important;
}
.popup.popup_right {
    transform: translateX(-50%);
}
.layout_default.picker_wrapper>* {
    margin:5px !important;
}